.item-container{
  margin-left: 12px;
}
.item-container:hover img{
  border: 4px solid #ffe300;
  border-radius: 2px;
}

.movie-thumbnail:hover {.movie-details{
  opacity: 0;
}}

.trailer{
  border: 2px solid white;
  padding: 10px;
  border-radius: 25px;
  margin-right: 10px;
  background: black;
}
.anadir{
  border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    margin-left: 10px;
    background: black;
}
.age{
  border: 1px solid white;
  padding: 2px;
  margin: 10px;
  border-radius: 4px;
}
.price{
  color: yellow;
  font-weight: bold;

}
.movie-details{
  display: flex;
  flex-direction: column;
  height: 303px;
 justify-content: center;
  width: 335px;
  align-items: center;
 white-space: pre-line;
 background-image: linear-gradient(271deg, #343030c7, #171616d6);
}

.movieTitle{
  padding: 2%;
  text-transform: uppercase;
}
.description{
  padding: 4%;
  text-align: center;
}
.movie-thumbnail:hover .movie-details {
  display: block;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  .item-container{
    img{
      height: 303px ;
      width: 216px ;
      display: block;
      object-fit: contain;
    }
  }
}
  
@media only screen and (max-width: 767px) {

}